
/*Notes for tommorow:
	look at the other style sheet for viewport stuff 
*/

* {
    padding: 0;
    margin: 0;
} 

body {
width: 100%;
height: auto;
min-height: 100px;
background: white;
/*font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;*/
/*line-height: 18px;
color: white;
padding: 0px 0px; */
overflow: hidden;
}

img { border: none; }
a { color: white; text-decoration: none;}
a:hover { text-decoration: underline; color : #aaa; }

/*#wrap {
overflow: hidden;
width: 100%;
height: 100%;
}*/


/*/*widget*/
/*.icon-widget_special {
display: block;
width: 60px;
height: 60px;
margin: 0px auto 0px;
background-repeat: no-repeat;
background-position: 0 0;
background-size: 60px;
overflow: hidden;
text-indent: -9999em;
line-height: 200px;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
transition: all .3s ease;
}
small
{
color:#ccc;
}

.icon-widget_special.icon-recommend {
background-image: url('../img/love3.png');
}
.icon-widget_special:hover {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
transform: scale(1.1);
}*/

#header { 
position: absolute;
top: 0px;
border-bottom: 1px solid #222;
/*border: 1px solid #222;*/
height: 60px;
width: 100%;
/*max-height: 15px;*/
background-size:cover;
background-color: white;
overflow: hidden;
}
#header h1 {
font-size: 26px;
font-weight: 100;
letter-spacing: -3px;
padding: 12px 0 5px 10px;
}
#header h1 a {
color: #fff;
text-decoration: none;
}
#header h1 a:hover {
color: #aaa;
text-decoration: none;
}
#header h2 {
color: #ccc;
font-size: 15px;
font-weight: 100;
padding: 0 0 0 11px;
letter-spacing: -1px;
line-height: 12px;
}


.left {
margin-top: 0px;
margin-bottom: 0px; 
width: 79%;
height: 700px;
float: left;
text-align: justify;
padding: 0px;
background: white;
overflow: visible;
}
/*.left h2 {
color: #FF4800;
font-size: 24px;
letter-spacing: -3px;
font-weight: 100;
padding : 0px 0 0px 0;
}*/

.right {
overflow: auto;
margin-top: 0px;
margin-bottom: 0px;
width: 16.86%;
min-width: 200px;
height: 1000px;
float: right;
border: 1px solid #222;
border-top: 0px solid #222; 
border-bottom: 0px solid #222; 
font-size: 12px;
padding: 0px;
background: white;
}
.right ul {
list-style-type: square;
padding: 5px 10px 10px 20px;
color: #59799F;
}
.right h2 {
border: 3px outset #ccc;
width: 80%;
margin-left: 8%;
height: 30px;
font-size: 15px;
color: #666;
line-height: 30px; 
padding: 0px 0px 0px 0px;
}


.right a { text-decoration: none }

#footer {
position: absolute;
overflow: hidden;
bottom: 0px;
width: 100%;
margin-top: 0px;
margin-bottom: 0px;
height: 3%;
/*max-height: 15px;*/
text-align: center;
color: #eee;
font-size: 11px;
border: 1px solid #222;
padding: 0px;
background: white;
}